
    <nav class="datahub-header__navigation-wrapper" aria-labelledby="navigation">
        <ul id="navigation" class="datahub-header__navigation" aria-label="Top Level Navigation">
        
            <li class="datahub-header__navigation__item">
                <a class="datahub-header__navigation__item__link" href="#">
                    Companies
                </a>
            </li>
        
            <li class="datahub-header__navigation__item">
                <a class="datahub-header__navigation__item__link" href="#">
                    Contacts
                </a>
            </li>
        
            <li class="datahub-header__navigation__item">
                <a class="datahub-header__navigation__item__link" href="#">
                    Events
                </a>
            </li>
        
            <li class="datahub-header__navigation__item">
                <a class="datahub-header__navigation__item__link" href="#">
                    Interactions
                </a>
            </li>
        
            <li class="datahub-header__navigation__item">
                <a class="datahub-header__navigation__item__link" href="#">
                    Investments
                </a>
            </li>
        
            <li class="datahub-header__navigation__item">
                <a class="datahub-header__navigation__item__link" href="#">
                    Orders
                </a>
            </li>
        
            <li class="datahub-header__navigation__item">
                <a class="datahub-header__navigation__item__link" href="#">
                    Find exporters
                </a>
            </li>
        
            <li class="datahub-header__navigation__item">
                <a class="datahub-header__navigation__item__link datahub-header__navigation__item__link--active" href="#">
                    Market Access
                </a>
            </li>
        
            <li class="datahub-header__navigation__item">
                <a class="datahub-header__navigation__item__link" href="#">
                    Support
                </a>
            </li>
        
        </ul>
    </nav>
