    <nav class="datahub-header__navigation-wrapper datahub-header__navigation-wrapper--sub" aria-labelledby="sub-navigation">
        <ul id="sub-navigation" class="datahub-header__navigation" aria-label="Second Level Navigation">
            <li class="datahub-header__navigation__item">
                <a class="datahub-header__navigation__item__link datahub-header__navigation__item__link--active" href="#">Dashboard</a>
            </li>
            <li class="datahub-header__navigation__item">
                <a class="datahub-header__navigation__item__link" href="#">Report a barrier</a>
            </li>
            <li class="datahub-header__navigation__item">
                <a class="datahub-header__navigation__item__link" href="#">Search</a>
            </li>
            <li class="datahub-header__navigation__item">
                <a class="datahub-header__navigation__item__link" href="#">Find barriers for publishing</a>
            </li>
            <li class="datahub-header__navigation__item">
                <a class="datahub-header__navigation__item__link" href="#">Help centre</a>
            </li>
        </ul>
    </nav>
