<!--View status: {{data['barrier-public-view-status'] }}
title: {{data['public-title'] }}
summary: {{data['public-summary'] }}
approver confirm:{{data['approvers-confirm-status'] }}
approvers:{{data['confirm-approvers'] }} -->
<!-- STATUS ADDED BUT NOT ALLOWED -->
{% if data['barrier-public-view-status'] and data['barrier-public-view-status'] == 'not allowed' %}
<div class="public-view-status public-view-status__notallowed">
    <h2 class="govuk-heading-m public-view-status__notallowed__heading govuk-!-margin-bottom-0 govuk-!-margin-top-2">PUBLIC VIEW STATUS</h2>
        <p class="govuk-!-font-weight-bold govuk-!-margin-0 govuk-!-padding-top-2">
            This barrier is not live.
        </p>
        <p class="govuk-!-margin-0 govuk-!-padding-top-2">
            The public view status has been set to <span class="govuk-!-font-weight-bold">not allowed</span>.
        </p>
</div>

<!-- STATUS ADDED BUT NO TITLE AND SUMMARY -->
{% elseif data['barrier-public-view-status'] and (not data['public-title'] or not data['public-summary']) %}
<div class="public-view-status public-view-status__notlive">
    <h2 class="govuk-heading-m public-view-status__notlive__heading govuk-!-margin-bottom-0 govuk-!-margin-top-2">PUBLIC VIEW STATUS</h2>
        <p class="govuk-!-font-weight-bold govuk-!-margin-0 govuk-!-padding-top-2">
            This barrier is not live.
        </p>
        <p class="govuk-!-margin-0 govuk-!-padding-top-2">
            The public title and summary have not been added.
        </p>
</div>

<!-- STATUS ADDED AND TITLE AND SUMMARY ADDED BUT NO APPROVERS CONFIRMED -->
{% elseif data['barrier-public-view-status'] and (data['public-title'] and data['public-summary']) and not data['approvers-confirm-status'] %}
<div class="public-view-status public-view-status__notlive">
    <h2 class="govuk-heading-m public-view-status__notlive__heading govuk-!-margin-bottom-0 govuk-!-margin-top-2">PUBLIC VIEW STATUS</h2>
        <p class="govuk-!-font-weight-bold govuk-!-margin-0 govuk-!-padding-top-2">
            This barrier is not live.
        </p>
        <p class="govuk-!-margin-0 govuk-!-padding-top-2">
            The approvers list has not been confirmed.
        </p>
</div>

<!-- STATUS ADDED AND TITLE AND SUMMARY ADDED AND APPROVERS CONFIRMED -->
{% elseif data['barrier-public-view-status'] and (data['public-title'] and data['public-summary']) and data['approvers-confirm-status']  %}
<div class="public-view-status public-view-status__notlive">
    <h2 class="govuk-heading-m public-view-status__notlive__heading govuk-!-margin-bottom-0 govuk-!-margin-top-2">PUBLIC VIEW STATUS</h2>
        <p class="govuk-!-font-weight-bold govuk-!-margin-0 govuk-!-padding-top-2">
            This barrier is not live.
        </p>
        <p class="govuk-!-margin-0 govuk-!-padding-top-2">
            The barrier has not been marked as ready for review.
        </p>
</div>
<!-- STATUS ADDED AND TITLE AND SUMMARY ADDED AND APPROVERS CONFIRMED AND MARK AS READY SET -->
<!-- STATUS ADDED AND TITLE AND SUMMARY ADDED AND APPROVERS CONFIRMED AND MARK AS READY SET AND PUBLISHED -->

<!-- NOTHING COMPLETED -->
{% else %}
<div class="public-view-status public-view-status__notlive">
    <h2 class="govuk-heading-m public-view-status__notlive__heading govuk-!-margin-bottom-0 govuk-!-margin-top-2">PUBLIC VIEW STATUS</h2>
        <p class="govuk-!-font-weight-bold govuk-!-margin-0 govuk-!-padding-top-2">
            This barrier is not live.
        </p>
        <p class="govuk-!-margin-0 govuk-!-padding-top-2">
            The public view status has not been set.
        </p>
</div>
{% endif %}