<ol class="event-list js-delete-modal-container">
    <!-- USER GENERATED NOTE -->            
    <li class="event-list__item event_list__item--note">  
    <h4 class="event-list__item__heading">28 August 2023<span class="event-list__item__heading__recede"> at 5:31 p.m. (GMT)</span>
    <span class="event-list__item__heading__recede"> by </span>Jonathan Porton
    </h4>
    <p class="event-list__item__text">I added some new information to this barrier</p>
    <a class="event-list__item__edit-link" href="#">Edit</a>
    <a class="event-list__item__delete-link js-delete-modal" href="#">Delete</a>
    </li>
    <!-- SYSTEM GENERATED NOTE -->
    <li class="event-list__item event_list__item--status">
    <h4 class="event-list__item__heading">24 August 2023<span class="event-list__item__heading__recede"> at 4:02 p.m. (GMT)</span></h4>
    <p class="event-list__item__text">
    Barrier status set to <strong>Open</strong> by Jonathan Porton.
    </p>
    </li>
</ol>