{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sectors affected – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <form class="form" action="barrier-information#public-view-tab" method="post">

      {{ govukCheckboxes({
        name: "confirm-approvers",
        values: data['confirm-approvers'],
        fieldset: {
          legend: {
            text: "Confirm approvers",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Use this to track all of the approvals you have received."
        },
        items: [
          {
            value: "Department for Environment Food & Rural Affairs",
            text: "Department for Environment Food & Rural Affairs"
          },
          {
            value: "HM Revenue & Customs",
            text: "HM Revenue & Customs"
          },
          {
            value: "Market Access Regional Coordinators",
            text: "Market Access Regional Coordinators"
          },
          {
            value: "BTR Regional Teams",
            text: "BTR Regional Teams"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Confirm approvers"
      }) }}
      <a href="barrier-information#public-view-tab" class="govuk-link form-cancel">Cancel</a>
    </form>
    </div>
  </div>

{% endblock %}
