// Set the max-width of the container to replicate production
.dmas-width .govuk-width-container {
	max-width: 3400px;
    padding: 0px 30px 0px 30px;
    width: 1300px;
    margin-right: 40%;
    
   }