//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

//$govuk-page-width: 1200px;

//
//Import some DBT/DMAS specific stylesheets
//



//Import some from LIVE (market-access-python-frontend-master)
@import 'live-styles/all.scss';
@import 'live-styles/components/all.scss';
@import 'live-styles/pages/all.scss';

//Prototype specific
@import "dmas-specific-styles.scss";
@import "dbt-style-overrides.scss";

// Override the default GOV.UK Frontend font stack
/* $govuk-font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif; */