{# Pass values into macro (params): title , description (as HTML) #}


<div class="help-cta-card__fix govuk-!-margin-0 govuk-!-padding-0">
  <div class="help-cta-card__fix govuk-!-margin-0 govuk-!-padding-0">
      <div class="help-cta-card">
      <h2 class="govuk-!-margin-0 govuk-!-padding-0">{{ params.helpCardCtaTitle }}</h2>
      {{ params.helpCardCtaDescription }}
      </div>
  </div>
</div>