{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <h2 class="govuk-heading-m">Current work</h2>
    <h3 class="govuk-heading-s">Market Access Utilisation (Publication Process)&nbsp;</h3>
    <dl class="govuk-summary-list">
      <dt><a class="govuk-link" href="publishing/barrier-information">Publising prototype v2</a>&nbsp;&nbsp;<span class="govuk-body govuk-!-font-size-14">(<a href="https://uktrade.atlassian.net/browse/TSS-870?atlOrigin=eyJpIjoiOGZhNTgzYWE0ZDZhNGEyODkzOGU1MjQ2NTIwN2E2MDkiLCJwIjoiaiJ9">TSS-870</a>)</span></dt>
    </dl>
    <h3 class="govuk-heading-s">Search</h3>
    <dl class="govuk-summary-list">
      <dt><a class="govuk-link" href="#">Search filters</a>&nbsp;&nbsp;<span class="govuk-body govuk-!-font-size-14">(<a href="https://uktrade.atlassian.net/browse/TSS-899?atlOrigin=eyJpIjoiZGM5Yzc3MjJiMzVlNDM1MGI0NDRjOWVkZTY3ODc4YzYiLCJwIjoiaiJ9" target="_blank">TSS-899</a>)</span></dt>
    </dl>
    <h3 class="govuk-heading-s">MVE Section 7 iteration</h3>
    <dl class="govuk-summary-list">
      <dt><a class="govuk-link" href="report-a-barrier/mve-updates/start">Full MVE journey</a>&nbsp;&nbsp;<span class="govuk-body govuk-!-font-size-14">(<a href="https://uktrade.atlassian.net/browse/TSS-864?atlOrigin=eyJpIjoiYWJlYWQ0OGZkMGI1NDg3OTk4MWVjNDY0NTY4MzhjZDgiLCJwIjoiaiJ9" target="_blank">TSS-864</a>)</span></dt>
      <dd>- <a class="govuk-link" href="report-a-barrier/mve-updates/section-7v2">Jump to section 7</a></dd>
    </dl>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m">Other work (not related to specific tickets)</h2> 
      <h3 class="govuk-heading-s">General page templates</h3>
    <dl class="govuk-summary-list">
      <dt><a class="govuk-link" href="page-templates/barrier-information">Barrier information page</a></dt>
    </dl>
</div>
</div>

{% endblock %}
