<div class="barrier-status-details">
    <span class="barrier-status-details__icon barrier-status-details__icon--open-in-progress">       
        <svg width="20" height="20" viewBox="0 0 100 100" fill="#00703c" xmlns="http://www.w3.org/2000/svg" style="position:relative;top:3px;">
        <circle cx="50" cy="50" r="50" fill="#00703c"></circle>
        </svg>
    </span>
    <h2 class="barrier-status-details__heading">Barrier open  
    <span class="barrier-status-details__heading__caption">on 21 August 2023</span></h2>
    <h3 class="barrier-status-details__sub-heading">Summary</h3>
    <p class="barrier-status-details__text"></p>
    <a href="#" class="govuk-link--no-visited-state"> Edit status</a>
</div>