<ol class="event-list">
    <li class="event-list__item event_list__item--status">
        <h4 class="event-list__item__heading">21 August 2023<span class="event-list__item__heading__recede"> at 9:16 a.m. (GMT)</span></h4>
        <p class="event-list__item__text">Barrier status set to <strong>Open</strong> by [User name].</p>
    </li>
    <!-- Notes component component USER ADDED -->
    <li class="event-list__item event_list__item--note event-list__item--unseen">                  
        <h4 class="event-list__item__heading">22 August 2023<span class="event-list__item__heading__recede"> at 11:26 a.m. (GMT)</span>
        <span class="event-list__item__heading__recede"> by </span>[User name]         
        </h4>
        <p class="event-list__item__text">This is a test note</p>          
        <a class="event-list__item__edit-link" href="#">Edit</a>
        <a class="event-list__item__delete-link js-delete-modal" href="#">Delete</a>
    </li>

<!-- Notes component component USER ADDED WITH ATTACHMENT -->
    <li class="event-list__item event_list__item--note">
        <h4 class="event-list__item__heading">22 August 2023<span class="event-list__item__heading__recede"> at 11:22 a.m. (GMT)</span>
        <span class="event-list__item__heading__recede"> by </span>[User name]
        </h4>
            <p class="event-list__item__text">My test note</p>
            <a class="event-list__item__edit-link" href="#">Edit</a>
            <a class="event-list__item__delete-link js-delete-modal" href="/#">Delete</a>
        <div class="event-list__item__document">
            <ul class="event-list__item__document__list">
            <li class="event-list__item__document__list__item">
            <a class="event-list__item__document__list__item__name" href="#">filename</a> - 518&nbsp;bytes
            </li>
            </ul>
        </div>
    </li>
</ol>