<div id="selected-companies-list" class="selection-list restrict-width govuk-!-margin-bottom-0">
    <h3 class="selection-list__heading">Selected companies</h3>
    <ul class="selection-list__list">
        <li id="04301762" class="selection-list__list__item"><span>TEST LIMITED</span><span id="remove-company-button" class="selection-list__list__item__remove-form__submit">remove</span></li>
        <div id="add-another-company-button" class="govuk-button button--secondary selection-list__add-button">Add another company</div>
    </ul>
</div>